<%= form_with model: @user do |form| %>
<div>
<%= form.label :username, "Enter Name" %>
<%= form.text_field :username %>
  <% user.errors.full_messages_for(:username).each do |message| %>
  <div><%= message %></div>

<%= form.label :password, "Enter Password" %>
<%= form.text_field :password %>
  <% user.errors.full_messages_for(:password).each do |message| %>
  <div><%= message %></div>

<%= form.label :email, "Enter Email" %>
<%= form.text_field :email %>
  <% user.errors.full_messages_for(:email).each do |message| %>
  <div><%= message %></div>

<%= form.submit "Submit" %>
</div>
<% end %>
